@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body{
    overflow-x: hidden;
}
/* Header */
.search, input{
    height: 45px;
}

header input[type=search]{
    border: none;
}
#btn{
    border: none;
    background-color: white;
}
#btn:hover{
    background-color: #d64826;
    color: white;
}

#nav ul li a{
    color: rgb(128, 124, 124);
}
#nav ul li a:hover{
    color: #444; 
}

#shopbar{
    border-right: 1px solid rgb(202, 197, 197);
}


/* Nav */
.nav .item-left{
    flex: 0 0 80%;
}
.nav .item-right{
    flex: 0 0 20%;
    display: flex;
    justify-content: flex-end;
}
.nav .item-right ul li{
    display: inline-block;
    line-height: 50px;
    margin-left: 10px;
}
.nav .item-right a{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #777;
    transition: color 0.3s ease;
}
.row-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.menu{
    display: inline;
    width: 100%;
    position: relative;
    z-index: 99;
}
.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav ul li a{
    text-decoration: none;
}
.nav .menu > ul > li{
    display: inline-block;
    line-height: 50px;
    margin-left: 15px;
}
.nav .menu > ul > li > a{
    font-size: 15px;
    font-weight: 500;
    position: relative;
    color: #777;
    transition: color 0.3s ease;
}
.nav .menu > ul > li .sub-menu > ul > li > a:hover,
.nav .item-right a:hover,
.nav .menu > ul > li:hover > a{
    color: #444;
}
/* Mega Menu */
.nav .menu > ul > li .sub-menu{
    position: absolute;
    z-index: 500;
    background-color: #fff;
    box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
    padding: 20px 30px;
    transition: all 0.5s ease;
    margin-top: 15px;
    opacity: 0;
    visibility: hidden;
}
.nav .menu > ul > li.menu-item-has-children:hover .sub-menu{
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}
.nav .menu > ul > li .single-menu{
    min-width: 280px;
    max-width: 350px;
}
.nav .menu > ul > li .sub-menu.mega-menu{
    left: 11%;
    transform: translateX(-10%);
}
.nav .menu > ul > li .sub-menu.mega-menu-column{
    max-width: 1100;
    width: 129%;
}
.nav .menu > ul > li .sub-menu > ul > li{
    line-height: 1;
}
.nav .menu > ul > li .menu-list > ul > li > a{
    display: inline-block;
    padding: 0px 3px;
    font-size: 12px;
    color: #777;
    transition: color 0.3s ease;
    text-decoration: none;
}
.nav .menu > ul > li .menu-list > ul > li > a:hover{
    color: #444;
}

.nav .menu > ul > li .menu-list > a{
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 500;
}
.nav .menu .hr{
    border-bottom: 1px solid #eee;
    width: 50%;
}
.dyqanet-0{
    margin-top: -130px;
}
.dyqanet-1{
    margin-top: -150px;
}
.dyqanet-2{
    margin-top: -150px;
}
.dyqanet a{
    text-decoration: none;
    line-height: 1.5;
    color: #777;
    font-size: 11px;
    font-weight: 500;
}
.dyqanet a:hover{
    color: #444;
    text-decoration: underline;
    
}
.dyqanet .circle{
    border: 1px solid #eee;
    border-radius: 50%;
    margin: 5px;
}
/* End Mega Menu */
/* End Header */

/* Offcanvas */
.offcanvas-header{
    background-color: #d64826;
}
.offcanvas-title a{
    text-decoration: none;
    color: #fff;
    
}
.offcanvas-body ul li a{
    text-decoration: none;
    color: rgb(128, 124, 124);
    font-size: 20px;
}
/* login */
.modal a{
    color: #f65b35;
    font-weight: bold;
}

#modal-kyqu{
    background-color: #f04a23 !important;
    color: #fff;
    padding: 12px;
    
}

.modal img{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    float: left;
    width: 25px;
    
}
#modal-fb{
    background-color: #3D5B9C;
    color: #fff;
    padding: 12px;
}
#modal-fb i{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    float: left;
    
}
/* end login */

/* Carousel */
.slide{
    margin-top: -15px;
}
/* Carousel End */

/* Section 1 */
.flash{
    margin-top: -150px;
    z-index: 10;
}
#section1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    border-radius: 7px;
}
.te-shikuara {
    border-radius: 10px 10px 0px 0px;
}

.te-shikuara p{
    font-size: 13px;
}

.para{
    background-color: #f1efef; 
    background-image: linear-gradient(to right, #f1efef , #fff);
    width: 60%;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
    color: rgb(114, 113, 113);
}
.cat img{
    border-radius: 5px;
}
.cat img{
    transition: transform 0.5s;
}
.cat img:hover{
    transform: scale(1.1);
}

.kat {
    border-radius: 0px 0px 10px 10px;
}
.kat p{
    font-size: 13px;
}
.cat a{
    text-decoration: none;
    color: rgb(35, 35, 35);
}
.cat a {
    background-color: #f1efef;
}
.cat a .text-muted{
    text-decoration: line-through;
}

.bg{
    background-color: #eee;
}

.te-shikuara2 {
    border-radius: 10px;
}
.kycu2{
    border: none;
    transition: .2s ease;
    background-color: #f04b28;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem 4rem;
    margin-left: 10px;
}
.kycu2:hover{
    background-color: #d74629;
}
/* Section 1 End */

/* Dyqanet */
.dyqan img{
    transition: transform 0.2s ease-in;
}
.dyqan img:hover{
    transform: translateY(-7px);
    box-shadow: 0 4px 4px 0 rgba(215, 212, 212, 0.2), 0 4px 4px 0 rgba(215, 212, 212, 0.2);
}
.demo1{
    visibility: hidden;
}
/* End Dyqanet */


/* Section 2 */
.tech-2{
    margin-top: -120px;
}
.tech img{
    border-radius: 30px;
    width: 100%;
    height: 100%;
}
.tech1 img{
    border-radius: 30px;
    width: 115%;
}
.inspirim{
    visibility: hidden;
}
/* Section 2 End */


/* Produktet */
.gjirafa-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(211.22px, 1fr));
}
.gjirafa-1 .col:hover{
    box-shadow: 0 4px 4px 0 rgba(215, 212, 212, 0.2), 0 4px 4px 0 rgba(215, 212, 212, 0.2);
}
.gjirafa-1 .col{
    border-radius: 10px;
    border: 1px solid #eee;
    margin: 5px;
}
.gjirafa{
    background: #e85039;
    color: #fff;
    padding: 1px 5px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
}

.produktet a{
    text-decoration: none;
    color: rgb(114, 113, 113);
    font-size: 13px;
    font-weight: 500;
}
.produktet a:hover{
    text-decoration: underline;
}
.zbritje{
    position: relative;
}
.zbritje::after{
    content: '';
    width: 95%;
    height: 2px;
    background: #e85039;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 47%;
}
.btn-produkt{
    border: none;
    transition: .2s ease;
    background-color: #f04b28;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem 4rem;
    margin-left: 10px;
    width: 30%;
    font-size: 15px;
    font-weight: 600;
    align-items: center;
}
.btn-produkt:hover{
    background-color: #d74629;
    color: #fff;
}
.row .gjirafa-2 .col{
    display: none;
}
.row .gjirafa-2 .col:nth-child(1),
.row .gjirafa-2 .col:nth-child(2),
.row .gjirafa-2 .col:nth-child(3),
.row .gjirafa-2 .col:nth-child(4),
.row .gjirafa-2 .col:nth-child(5),
.row .gjirafa-2 .col:nth-child(6),
.row .gjirafa-2 .col:nth-child(7),
.row .gjirafa-2 .col:nth-child(8),
.row .gjirafa-2 .col:nth-child(9),
.row .gjirafa-2 .col:nth-child(10){
    display: inline-block;
}
/* End Produktet */

/* Section 3 */
.box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(444.44px, 2fr));
}
.svg{
    fill: #d64826;
}
.box .col{
    border: 1px solid #eee;
    border-radius: 10px;
}
.box h5{
    font-size: 17px;
}
/* Section 3 End */

/* Footer */
.box-footer{
    border-top: 1px solid rgba(0,0,0,.1);
    background: #f7f7f9;
    margin-top: 1.5rem;
}

.icons a{
    text-decoration: none;
    font-size: 20px;
}
.icons a i{
    background-color: #aaa;
    border-radius: 50%;
    padding: 15px;
}
.icons a .fa-facebook:hover{
    background-color: #3b5998;
}
.icons a .fa-twitter:hover{
    background-color: #55acee;
}
.icons a .fa-instagram:hover{
    background-color: #f7f7f9;
    color: #3b5998;
}
.footer-1 a{
    color: #aaa;
}
.footer-1 a:hover{
    color: #444;
}
.footer-2{
    color: #aaa;
    font-size: 14px;
}
footer .form-control {
    display: block;
    width: 50%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .575rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
footer .form-control::placeholder{
    color: #aaa;
}
.border-rad{
    background-color: #f04a23;
    color: #fff;
}
.border-rad:hover{
    background-color: #d64826;
    color: #fff;
}
.kushtet a{
    display: inline;
    font-size: 13px;
    color: #aaa;
    float: right;
    margin-top: 100px;
}
.kushtet-1{
    position: relative;
}
.kushtet-1::after{
    content: '';
    border-right: 2px solid #aaa;
    height: 15px;
    position: absolute;
    margin-left: 15px;
    margin-top: 2px;  
}
.kushtet a:hover{
    color: #444;
}
/* Footer End */



/* Kozmetike */
/* Section 1 */
/* Aside */
aside{
    margin-left: -45px;
}
.kozmetike-1 a{
    display: inline;
    font-size: 13px;
    color: #000;
}
.kozmetike-1 a:hover{
    text-decoration: underline;
    color: #000;
}
.kozmetike-2{
    position: relative;
}
.kozmetike-2::after{
    content: '';
    border-left: 1px solid #000;
    height: 15px;
    position: absolute;
    margin-left: 20px;
    margin-top: 6px;  
}
.kozmetike-list{
    position: relative;
}
.kozmetike-list::after{
    content: '';
    border-left: 2px solid #e85039;
    height: 58px;
    position: absolute;
    margin-left: -17px;
    margin-top: -48px;
    border-radius: 10px 0px 0px 0px ; 
}
.kozmetike-list-1{
    position: relative;
}
.kozmetike-list-1:hover{
    background-color: #f8f9fa;
}
.kozmetike-list-1 a{
    font-size: 15px;
}
.kozmetike-list-1::after{
    font: normal normal normal 16px/1 'FontAwesome';
    font-size: 1.2rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "ï„…";
    display: block;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
/* Arrow Icon */

.rotate{
    transform: rotate(-180deg);
}
/* Arrow icon end*/
.filter-1{
    border-bottom: 1px solid #000;
    width: 7px;
    margin-left: 73px;
    margin-top: -20px;
}


.filter a{
    background-color: #f04a23;
    color: #fff;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}
.filter a i{
    margin-left: -4px;
}
.filter a:hover{
    background-color: #d64826;
    color: #fff;
}
.search-1{
    margin-left: -5px;
}
.overflow{
    height: 230px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
}
.overflow label{
    font-size: 13px;
    margin-bottom: 10px;
}
#collapse3 form label{
    font-size: 13px;
    margin-bottom: 10px;
}
#collapse10 form label{
    font-size: 13px;
    margin-bottom: 10px;
}
#collapse12 form label{
    font-size: 13px;
    margin-bottom: 10px;
}
#collapse16 form label{
    font-size: 13px;
    margin-bottom: 10px;
}
#collapse17 form label{
    font-size: 13px;
    margin-bottom: 10px;
}
#collapse4 .form-control::placeholder{
    font-size: 13px;
}
#collapse5 .form-control::placeholder{
    font-size: 13px;
}
#collapse8 .form-control::placeholder{
    font-size: 13px;
}
#collapse13 .form-control::placeholder{
    font-size: 13px;
}
#collapse15 .form-control::placeholder{
    font-size: 13px;
}
/* End Aside */
.list-drop{
    margin-left: 30px;
}
.kozmetike-3{
    color: #aaa;
    font-weight: 100;
}
.kozmetike-list-2 img{
    width: 120px;
    border-radius: 20px;
}
.kozmetike-list-2  h6:hover{
    text-decoration: underline;
}
.kozmetike-list-2 a h6{
    font-size: 13px;
    margin-left: 19px;
}
.kozmetike-list-2 a{
    text-decoration: none;
}
.row-1{
    border-top: 1px solid rgb(211, 210, 210);
}
#dropdown-menu{
    width: 57%;
}
#dropdown-menu li a{
    text-decoration: none;
    color: #464a4c;
    padding: 10px;
    font-size: 14px;
}
#dropdown-menu li:hover{
    background-color: #55acee;
    color: #fff;
}
#dropdown-menu li:hover a{
    
    color: #fff;
}
.button{
    border: 1px solid rgba(0,0,0,.15);
}
.button:hover{
    background-color: #eee;
}
.button span{
    font-size: 12px;
    color: #aaa;
}
.button strong{
    font-weight: 600;
    color: #000;
}
.trego{
    margin-top: 10px;
}
.trego a:hover{
    background-color: #eee;
}
.trego a{
    border: 1px solid rgba(0,0,0,.15);
    padding: 10px 10px 5px 10px;
    color: #464a4c;
}
.next{
    margin-left: -15px;
}
.next.disabled{
    display: none;
}
.next div:hover{
    background-color: #eee;
}
.next div{
    color:#464a4c;
    border:1px solid rgba(0,0,0,.15);
    font-size:15px;
    padding: 10px 15px 3px 15px;
    cursor: pointer;
}

.prev{
    margin-right: -15px;
}
.prev.disabled{
    display: none;
}
.prev div{
    color:#464a4c;
    border:1px solid rgba(0,0,0,.15);
    font-size:15px;
    padding: 10px 15px 3px 15px;
    cursor: pointer;
}
.prev div:hover{
    background-color: #eee;
}
#dropdown-menu-1{
    width: 100%;
}
#dropdown-menu-1 li a{
    text-decoration: none;
    color: #464a4c;
    padding: 10px 10px 10px 20px;
    font-size: 14px;

}
#dropdown-menu-1 li:hover{
    background-color: #55acee;
    color: #fff;
}
#dropdown-menu-1 li:hover a{
    color: #fff;
}
.produkt-hover{
    border-top: 1px solid #eee;
    width: 113%;
    margin-left: -13px;
    padding: 10px;
}
.produkt-hover a{
    text-decoration: none;
    color: #464a4c;
    padding: 10px;
}
.produkt-hover:hover{
    background-color: #eee;
}
.produkt-hover-1{
    border-top: 1px solid #eee;
    width: 113%;
    margin-left: -13px;
    
}
.heart a{
    text-decoration: none;
    font-size: 20px;
    color: #464a4c;
    padding: 20px;
}
.heart:hover{
    background-color: #eee;
}

.produkt-hover-1  a{
    text-decoration: none;
    font-size: 20px;
    color: #464a4c;
    padding: 20px;
}
.arrow-down{
    background-color: #f04a23; 
    padding: 10px 5px 5px 5px;
}
.arrow-down:hover{
    background-color: #d74629;
}
.arrow-down a i{
    color: #fff;
    padding: 5px;
}
.produktet{
    margin-bottom: -70px;
}
.produktet:hover{
    margin-bottom: 0px;
}
.border{
    cursor: pointer;
}
.row-1 .col-lg-3:hover{
    box-shadow: 0 7px 7px 0 rgba(215, 212, 212, 0.5), 0 7px 7px 0 rgba(215, 212, 212, 0.5);
}
.border:hover .hover-product{
    visibility: visible;
}
.hover-product{
    visibility: hidden;
}

.produkt-item .border.hide{
	display: none;
}
.produkt-item  .border.show{
	display: block;
	animation: show .5s ease;
}
@keyframes show{
    0%{
    	opacity:0;
    	transform: scale(0.9);
    }
    100%{
    	opacity:1;
    	transform: scale(1);
    }
}
/* Section 1 */
/* Kozmetike End */


/* Mobile */
@media (max-width: 844px) {
    .img{
        margin: 20px;
        padding-left: 40px;
    }
    .bi-telephone-fill, .fa-question{
        visibility: hidden;
    }
    #shopbar{
        border-right: none;
    }
    .kycu{
        margin-top: 40px;
        margin-right: -40px;
        z-index: 1;
        font-size: 20px;
    }
    .kycu1{
        visibility: hidden;
    }
    .nav{
        margin-top: -140px;
        margin-left: -10px;
        z-index: 1;
        border: none;
    }
    .search{
        width: 100%;
    }
    /* Dyqanet */
    .demo{
        display: none;
    }
    .demo1{
        visibility: visible;
        box-shadow: 0 4px 4px 0 rgba(215, 212, 212, 0.2), 0 4px 4px 0 rgba(215, 212, 212, 0.2);
    }
    .kycu-3{
        border: none;
        transition: .2s ease;
        background-color: #f04b28;
        color: #fff;
        border-radius: 5px;
        font-size: 12px;
        margin-top: 40px;
        margin-left: -20px;
        
    }
    /* End dyqanet */
    /* Section 1 */
    .flash{
        margin-top: 0px;
    }
    .mob{
        padding: 25px; 
    }
    .kycu2{
        margin-left: 45px;
    }
    /* End Section 1 */

    /* Section 2 */
    .inspirim{
        visibility: visible;
        
    }
    .img-1{
        margin-left: -30px;
    }
    .tech1 img{
        border-radius: 20px;
        padding: 15px;
        width: 100%;
    }
    .tech img{
        border-radius: 20px;
        padding: 15px;
    }
    .tech-2{
        margin-top: 0px;
    }
    /* End Section 2 */
    /* Carousel */
    .slide{
        margin-top: -30px;
    }
    /* End Carousel */

    /* Produktet */
    .btn-produkt{
        padding: 0.5rem 1rem;
        margin-left: 10px;
        width: 70%;
        font-size: 13px;
    }
    .box{
        display: none;
    }
    /* End Produktet */
}
/* Ipad Air */
@media (min-width: 820px) and (max-width: 1180px) {
    .search{
        width: 45%;
        margin-left: 250px;
        margin-top: -50px;
    }
    .img{
        margin: 20px;
        padding-left: 10px;
    }
    .bi-telephone-fill, .fa-question{
        visibility: hidden;
    }
    #shopbar{
        border-right: none;
    }
    .kycu{
        margin-top: -50px;
        margin-right: 0px;
        z-index: 1;
        font-size: 20px;
    }
    .kycu1{
        visibility: hidden;
    }
    .navbar-toggler{
        margin-top: -250px;
        margin-left: -20px;
        z-index: 1;
        border: none;
    }
    /* End navbar */ 
}